.side-navigation {
  height: 100%;
  width: 5%;
  position: absolute;
  transition: 0.5s ease-out;
  background-color: rgb(35, 95, 137);
  color: white;
  box-shadow: 2px 0 5px 0 black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.nav-open {
  width: 15%;
}

.app-icon {
  height: 50px;
  width: 50px;
  transition: 0.5s ease-out;
}

.app-icon-open {
  height: 150px;
  width: 150px;
  transition: 0.5s ease-out;
}

.page-container {
  width: 95%;
  height: 100%;
  margin-left: 5%;
}

.menu-icon {
  position: absolute;
  top: 50%;
  right: 8px;
  display: flex;
  justify-content: space-between;
  width: 15px;
  cursor: pointer;
}

.menu-icon div {
  height: 15px;
  width: 2px;
  margin: auto;
  background-color: white;
}

.nav-content-container {
  height: 60%;
  width: 80%;
  margin: 0 0 10% 0;
  transition: 0.5s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  transform: translateX(-400px);
}

.compare-route {
  border-radius: 5px;
  background-color: rgb(255, 213, 0);
  color: black;
  text-align: center;
  padding: 8px;
  cursor: pointer;
  transition: 0.1s;
}

.compare-route:hover {
  background-color: rgb(223, 186, 0);
}

.footer {
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.welcome-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
}

.welcome-page div {
  margin: 36px 0;
}

.welcome-title {
  font-size: 36px;
  padding-top: 24px;
  margin-bottom: 24px;
}

.compare-page {
  width: 90%;
  height: 99%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.compare-page-content-section {
  width: 100%;
  height: 100%;
}

.left-content {
  display: flex;
  flex-direction: column;
  margin: 128px 0 0 0;
  width: 100%;
}

.compare-left-title {
  font-size: 36px;
}

.comparison-container {
  margin: 36px 0;
  max-height: 70%;
}

.add-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.add-button {
  padding: 8px;
  background-color: rgb(83, 178, 232);
  color: white;
  border-radius: 5px;
}

.search-container {
  width: 80%;
}

.divider {
  width: 3px;
  height: 95%;
  margin: 2.5% 0;
  background-color: black;
}
